@use '../abstracts/variables' as *;

.btn__promo{
    padding: 17px 45px;
    background-color: transparent;
    border: 2px solid $light-black;
    border-radius: 59px;

    &:hover {
        background-color: $hover-btn-bgc;
        border-color: $hover-btn-bgc;
    }
}