@use '../abstracts/variables' as *;

body {
    font-family: $font-ptimary;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    color: $light-black;
}

nav a {
    &:hover {
        font-weight: $link-hover-font-weight;
    }
}

.promo { 

    &__text {
        font-size: $font-size-large;
        color: $black;
    }
}

.btn__promo {
    font-size: $font-size-btn;
    color: $light-black;

    &:hover {
        color: $hover-btn-color;
    }
}