.promo {
    display: flex;
    margin-bottom: 475px;

    &__banner{
        position: relative;
    }

    &__text{
        max-width: 820px;
        margin-top: 340px;
        margin-left: 80px;
    }

    &__logo{
        position: absolute;
        left: -90px;
    }

    &__actions{
        display: flex;
        justify-content: center;
        gap: 31px;
        margin-top: 31px;
    }

    &__decor{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            height: 700px;
            transform: translate(-50%, -50%);
            background: rgba(255, 144, 188, .75);
            border-radius: 500%;
            filter: blur(300px);
        }
    }

    &__img-blur {
        filter: blur(8px);
    }

    &__img {
        position: absolute;
        top: 20px;
        left: 0;
    }
}
