.promo {
    display: flex;

    &__banner{
        position: relative;
    }

    &__text{
        max-width: 820px;
        margin-top: 340px;
        margin-left: 80px;
    }

    &__logo{
        position: absolute;
        left: -90px;
    }

    &__actions{
        display: flex;
        justify-content: center;
        gap: 31px;
        margin-top: 31px;
    }
}