$font-ptimary: 'Plus Jakarta Sans', sans-serif !default;
$font-size-base: 18px !default;
$font-size-large: 31px;
$font-size-btn: 20px;
$hover-btn-color: #fff;
$hover-btn-bgc: rgba(255, 0, 101, .75);
$light-black: #223322 !default;
$black: #000;
$font-weight-medium: 500;
$link-hover-font-weight: 700;  
